
a{
  color: #11999E;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;

}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Alkalami', serif;
  font-size: 100%;
  color: #40514E;
}

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px 0;
}
h1{
 margin: 50px auto 0 auto;
 font-family:'Merriweather', serif;
 font-size: 4rem;
 color: #FA7070;

}
.skill_img1{
  width: 25%;
  float: left;
  margin-right: 30px;

}

.skill_img2{
  width: 25%;
  float: right;
  margin-left: 30px;

}
.profile-img{
  width: 150px;
 height: 150px;
 background-size: cover;
 border-radius: 100%;
}

.intro{
  width: 30%;
  margin: auto;
}
.skill-row{
  margin:100px auto;
  width:50%;
  text-align: left;
}

h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  color:#11999E;
  font-weight: normal;
  padding-bottom: 10px;
}
.subtitle{
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  color: #FA7070;

}
h3{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  color: #11999E;
}
.top-container{
  background-color: #CDF0EA;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

p{
  line-height: 2;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;

}

hr{
  border:dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}
.top-cloud{
position: absolute;
right: 300px;
top: 40px;

}

.contact-message{
  width: 40%;
  margin:40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/* .code-skill-description{
  clear: left;
}

.code-skill-description2{
  clear: right;
} */
